button {
    margin: 10px !important;
}

form {
    padding: 30px !important;
}

.material-icons {
    font-size: 18px !important;
}

.btn:hover{
    color: #fff !important;
}

.info {
    padding: 20px;
}

.brand-logo{
    text-decoration: none !important;
}

.card {
    padding-top: 2% !important;
}